
<nav class="navbar navbar-dark bg-light">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">CARMELA</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Nosotros</a></li>
            <li><a class="dropdown-item" href="#">nuestro trabajo</a></li>
            <li><a class="dropdown-item" href="#">Servicios</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">2022</a>
        </li>
      </ul>
</nav>