<footer class="text-center text-lg-start bg-white text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <a class="navbar-brand" href="#inicio">
            <img src="/src/assets/abstract.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Carmela Estudio de Arquitectura
        </a>
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </section>
</footer>